a {
    text-decoration: none;
}
.navbar {
    height: 94px;
    width: 100%;
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
}
nav {
    display: flex;
    align-items: center;

}

.logo {
width: 94px;
height: 39px;
color: rgb(51, 51, 51);
font-family: sans-serif;
font-size: 26px;
font-weight: 600;
line-height: 39px;
letter-spacing: 0%;
text-align: left;
}
.nav__ul {
    list-style: none;
    display: flex;
    column-gap: 40px;
    margin-left: 170px;
}
.nav__link {
    color: rgb(44, 56, 71);
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;transition: 0.3s;
}
.nav__link:hover {
    color: rgb(95, 184, 72);
font-family: sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0%;
text-align: left;
}
.nav__buttons {
    margin-left: 400px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.nav__buttons img {
    cursor: pointer;
}
.nav__button {
width: 160px;
height: 54px;
border-radius: 27px;
background: rgb(73, 73, 73);
border: none;
color: rgb(255, 255, 255);
font-family: sans-serif;
font-size: 20px;
font-weight: 400;
margin-left: 30px;
line-height: 27px;
letter-spacing: 0%;
cursor: pointer;
text-align: center;transition: 0.5s;
}
.nav__button:hover {
    background: rgb(0, 0, 0);
    
}
.hero {
    width: 1440px;
height: 890px;
background-image: url("../assets/heroimg.png");
background-size: 900px 900px;
background-repeat: no-repeat;
background-position-x: right;
background-position-y: 60px;
padding-top: 260px;
padding-left: 50px;
}
.hero__texts {
width: 596px;
height: 285px;

}
.hero__texts h1 {
    color: rgb(24, 29, 25);
font-family: sans-serif;
font-size: 76px;
font-weight: 670;
line-height: 95px;
letter-spacing: 0%;
text-align: left;
}
.hero__h1 {
    color: rgb(95, 184, 72);
}
.hero__texts p {
    color: rgb(24, 29, 25);
font-family: sans-serif;
width: 504px;
font-size: 24px;
font-weight: 350;
line-height: 34px;
letter-spacing: 0%;
text-align: left;
}
.hero__btn {
width: 200px;
height: 64px;
border-radius: 50px;
background: linear-gradient(180.00deg, rgb(100, 187, 71),rgb(44, 149, 83) 100%);
color: rgb(255, 255, 255);
font-family: sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0%;
border: none;
cursor: pointer;
text-align: center;
transition: 1s;
margin-top: 30px;
}
.hero__btn:hover {
    background: linear-gradient(180.00deg, rgb(36, 88, 56),rgb(36, 88, 56) 100%);
    transition: 1s;
}